<!DOCTYPE html>
<html>
  <head>
    <title>Dummy</title>
    <%= csrf_meta_tags %>
<<<<<<< HEAD
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
=======

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
>>>>>>> Update to Rails 5.1.7
  </head>

  <body>
    <%= yield %>
  </body>
</html>
